@import url("./variables.css");

/* Typography */
@import url("https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
	font-family: "Inter", sans-serif;
	line-height: 1.625;
	background-color: var(--clr-body-bg);

	/* TODO: Remove this padding */
	padding-bottom: 7rem;
}

.max-width {
	max-width: var(--max-width);
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}
