:root {
	/* Lengths */
	--max-width: 1200px;

	/* Spacing */
	--space-xxsm: 1.75rem;
	--space-xsm: 2.5rem;
	--space-sm: 4.25rem;
	--space-md: 6.5rem;
	--space-lg: 9.75rem;
	--space-xl: 15rem;

	/* Colors */
	--clr-body-bg: #faf9f6;
	--clr-drk-900: #202122;
	--clr-drk-800: #393b3c;
	--clr-drk-700: #505354;
	--clr-drk-600: #686b6d;
	--clr-drk-500: #808285;
	--clr-drk-400: #979b9e;
	--clr-drk-300: #aeb3b6;
	--clr-drk-200: #c6cbcf;
	--clr-drk-100: #dde3e8;
	--clr-drk-50: #f4faff;

	/* Border-radius */
	--br-sm: 0.5rem;
	--br-md: 1rem;
	--br-lg: 1.5rem;

	/* Transitions */
	--cubic-bezier: cubic-bezier(0.61, 0.37, 0.55, 1.29);
	--transition-fast: 0.125s var(--cubic-bezier);
	--transition-medium: 0.25s var(--cubic-bezier);
	--transition-slow: 0.5s var(--cubic-bezier);
}
