:root {
	/* Lengths */
	--max-width: 1200px;

	/* Spacing */
	--space-xxxsm: 1rem;
	--space-xxsm: 1.75rem;
	--space-xsm: 2.5rem;
	--space-sm: 4.25rem;
	--space-md: 6.5rem;
	--space-lg: 9.75rem;
	--space-xl: 15rem;

	/* Colors */
	--clr-success: #00a794;
	--clr-danger: #ef5d77;
	--clr-danger-hover: #8f1d32;
	--clr-waiting: #6e0078;
	--clr-danger-transp: #ef5d7822;
	--clr-white: #ffffff;
	--clr-body-bg: #faf9f6;
	--clr-body-bg-00: #faf9f600;
	--clr-drk-900-transp: #20212200;
	--clr-drk-900-08: #202122db;
	--clr-drk-900: #202122;
	--clr-drk-800: #393b3c;
	--clr-drk-700: #505354;
	--clr-drk-600: #686b6d;
	--clr-drk-500: #808285;
	--clr-drk-400: #979b9e;
	--clr-drk-300: #aeb3b6;
	--clr-drk-200: #c6cbcf;
	--clr-drk-100: #dde3e8;
	--clr-drk-50: #f4faff;
	--clr-primary-900: #051524;
	--clr-primary-500: #032d51;
	--clr-primary-300: #054379;
	--clr-primary-500-transp: #032d51ec;

	/* Gradients */
	--gradient-bg-to-right: linear-gradient(
		to right,
		var(--clr-body-bg),
		var(--clr-body-bg-00)
	);

	--gradient-bg-to-left: linear-gradient(
		to left,
		var(--clr-body-bg),
		var(--clr-body-bg-00)
	);

	/* Border-radius */
	--br-xsm: 0.25rem;
	--br-sm: 0.5rem;
	--br-md: 1rem;
	--br-lg: 1.5rem;

	/* Box shadow */
	--box-shadow-sm: 0px 0px 28px -4px rgba(0, 0, 0, 0.2);
	--box-shadow-md: 0px 0px 28px -4px rgba(0, 0, 0, 0.45);
	--box-shadow-lg: 0px 0px 28px -4px rgba(0, 0, 0, 0.45),
		0px 0px 28px -4px rgba(0, 0, 0, 0.45),
		0px 0px 28px -4px rgba(0, 0, 0, 0.45),
		0px 0px 28px -4px rgba(0, 0, 0, 0.45);

	/* Transitions */
	--cubic-bezier: cubic-bezier(0.61, 0.37, 0.55, 1.29);
	--transition-fast: 0.125s var(--cubic-bezier);
	--transition-medium: 0.25s var(--cubic-bezier);
	--transition-slow: 0.5s var(--cubic-bezier);
}
